<div class="center hero-unit">
  <h4><legend>Co-authored by</legend></h4>
  <p>Nirbhay patil and Vinod kumar</p>

  <h4>
    This is a kick start to contribute to dedicate to aspire towards opensource .
    Our Vision is to have visibility and share knowledge on more open source frameworks such as Behat,Cucumber,codeinception,rails.

  </h4>

  <%= link_to "Contribute your knowledge", '#', class: "btn btn-large btn-primary",id: "soon" %>

  <legend>Developed using</legend>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/',:id=>"ror-logo" %>
  
</div>
