// Place all the styles related to the Behats controller here.

// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* typography */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h3{
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}



.links{
  background-color: #F2F2F2;
  border-radius:4px ;
  padding: 7px;
}

.content{
  word-wrap: break-word;
}



/* forms */


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 150px;
  padding: 10px;
  margin-bottom: 15px;
 
}

input {
  height: auto !important;
}

div.book-content{
   width:100%;
  height:100%;
  background-color:red;
  float:right;
  margin-top:20px;
  margin-left:5px;
  border-radius:20px;
  word-wrap:break-word;
  overflow:auto;
}

.test{
  background-color:white;
}

.test1{
  width:1000px;
  height:auto;
}

div.code{
  backround-color:grey;
}